@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.color-1{
    color: rgb(58, 58, 58);
}
.color-2{
    color: rgb(108, 108, 108);
}

/* header styles */
.header{
    max-width: 1370px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 200px;
}
.search-icon,.cart{
    width: 27px;
}
.cart{
    width: 19px;
}
.navbar-list{
    display: flex;
    gap: 34px;
    list-style: none;
}
.brand{
    max-width: 243px;
    margin-left: 30px;
}

/* camera section styles */
.camera-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    max-width: 1370px;
    margin: 0 auto;
    height: 475px;
    gap: 133px;
}
.content{
    max-width: 582px;
    margin: 0 auto;
}
.content>h1{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.content>p{
    margin-top: -15px;
}
.btn-primary{
    border-radius: 41px;
    background: rgb(224, 44, 109);
    color: white;
    width: 196px;
    height: 44px;
    border: none;
    padding: 10px 24px 10px 24px;
    font-weight: 700;
    text-align: left;
}
.camera-img{
    width: 475px;
    /* height: 414px; */
    background-image: url('/images/Circle design.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* logos styles */
.logos{
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 70px;
}

/* picture collage styles */
.picture-collage-head{
    max-width: 262px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
}
.picture-collage{
    max-width: 1077px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.collage-1,.collage-2,.collage-3,.collage-4,.collage-5,.collage-6{

    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}
.pic-1,.pic-2,.pic-3,.pic-4,.pic-5,.pic-6{
    border-radius: 5px;
    padding: 17px 15px 0px 20px;
}
.description-1,.description-2,.description-3,.description-4,.description-5,.description-6{
    width: 270px;
    /* margin-left: 14px;
    margin-top: 16px;
    margin-bottom: 17px; */
    margin: 16px 0px 17px 14px;
}
.head-1,.head-2,.head-3,.head-4,.head-5,.head-6{
    font-size: 1.75rem;
    margin-top: -10px;
    color: rgb(24, 25, 31);
    font-weight: 500;
}
.sub-head-1 ,.sub-head-2 ,.sub-head-3, .sub-head-4, .sub-head-5 ,.sub-head-6{
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: -15px;
}
.ratings-1 ,.ratings-2, .ratings-3 ,.ratings-4 ,.ratings-5 ,.ratings-6{
    color: rgb(94, 99, 102);
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: -15px;
}
.pic-description{
    color: rgb(120, 120, 133);
    font-weight: 700;
    font-size: 0.875rem;
    margin-bottom: 50px;
}
.see-more{
    color: rgba(224, 44, 109, 0.87);
    max-width: 1047px;
    margin: 0 auto;
    text-align: right;
    font-weight: 700;
    font-size: 1.5rem;
}

/* gadget section styles */
.gadget-section{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 96px;
    margin-top: 110px;
    margin-bottom: 115px;
}
.gadget-description{
    width: 610px;
}
.heading{
    font-size: 2.375rem;
    font-weight: 700;
}
.gadget-description>p{
    font-weight: 700;
}
.button{
    width: 155px;
    height: 44px;
    background: rgb(224, 44, 109);
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 24px;
    color: white;
}


/* mobile responsiveness */
@media screen and (max-width:576px) {
    .see-more{
        margin-left: 0px;
    }
    .logos{
        grid-template-columns: repeat(4,1fr);
        width: 100%;
        gap: 20px;
    }
    .picture-collage{
        grid-template-columns: repeat(1,1fr);
    }
    .gadget-section{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .gadget-pic >img{
        width: 100%;
    }
    .gadget-pic{
        /* width: auto; */
        justify-items: center;
    }
    
    .picture-collage-head>h2{
        margin: auto;
    }
    .header{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        /* height: auto; */
    }
    .navbar-list{
    }
    .camera-section{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 600px;
        border: 2px solid black;
    }
    .content{
        text-align: center;
    }
    .content>h1{
        font-size: 2.3rem;
    }
    .camera-img img{
        /* border: 2px solid black; */
        width: 100%;
    }
    .heading{
        
    }
    
    

}    